.container {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
}

.imageZone {
  flex: 1;
  position: relative;       
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 88px;   
  box-sizing: border-box;
}

.photo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;  
  display: block;
}


.buttonZone {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  
}
.buttonInner {
    width: 600px;
    height: 60px;
}

.commentZone {
    width: 350px;
    background-color: rgb(var(--background-end-rgb));
    border-left: 1px solid rgb(239, 243, 244);
    overflow: auto;
}
@media (prefers-color-scheme: dark) {
    .commentZone {
        border-color: rgb(47, 51, 54);
    }
}

.closeButton {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
   
}
.closeButton svg {
    fill: white;
}
.closeButton:hover {
    background-color: rgba(25,25,25, 0.75);
}
